.awards-content{
    background-color: aquamarine;
    height: 200vh;
}
.awards-slider{
    background-color: blueviolet;
    height: 100vh;
}

.awards-img{
	fill: currentcolor;
	width: 400px;
	height: 300px;
}
