.new-event_section{
    width: 100%;
	height: auto;
	clear: both;
	float: left;
}

.suma_news_events{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
    margin-top: 100px;
    
 
}
.tv-shows{
	background-color:#F46806;
	width:100%;
	height:auto;
	background-size: cover;
}
