{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- Slider main container -->
<div class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/background 3.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>James Smith</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText">Creative Designer</span> From <span class="purpleText">New York</span></p>
							</div>
							<div class="text">
								<p>I'm creative designer based in New York, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img src="{%static 'img/home/suma image 2.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/suma_site1.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>James Smith</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText">Creative Designer</span> From <span class="purpleText">New York</span></p>
							</div>
							<div class="text">
								<p>I'm creative designer based in New York, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img src="{%static 'img/home/suma image 2.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/background 2.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>James Smith</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText">Creative Designer</span> From <span class="purpleText">New York</span></p>
							</div>
							<div class="text">
								<p>I'm creative designer based in New York, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img src="{%static 'img/home/suma image 2.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- about section  -->
  <div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <div class="image">
                        <img src="{% static 'img/home/suma image 1.png' %}" alt="" />
                        <div class="numbers year">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="18" data-speed="2000">0</span></h3>
                                <span class="name">Years of<br />Success</span>
                            </div>
                        </div>
                        <div class="numbers project">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="9" data-speed="2000">0</span>K</h3>
                                <span class="name">Total<br />Projects</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
                        <span>I'm a Designer</span>
                        <h3>I Can Design Anything You Want</h3>
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p>Hello there! I'm a web designer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <a class="anchor" href="#contact"><span>Hire Me</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div>
    </div>
</div>
<!-- /ABOUT -->
<!--- /video slider  -->

<!-- promo videos section  -->
<div class="dizme_tm_section" id="promovideos">
    <div class="dizme_tm_about">
        <div class="container">
			<div class="dizme_tm_main_title" data-align="center">
				<span>Promo Videps</span>
				<h3>Whatch My Videos Hear</h3>
				<p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
			</div>
            <div class="wrapper">
                <div class="video_container">
					<div class="owl-carousel">
						<div class="item-video" data-merge="3">
							<a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
						</div>
						<div class="item-video" data-merge="2">
						  <a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  <div class="item-video" data-merge="3">
						<a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  <div class="item-video" data-merge="3">
						<a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  </div>
    			</div>
            </div>
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div>
    </div>
</div>
<!-- /promo videos  -->

<!-- f3 sinipit images  section  -->
<div class="dizme_tm_section" id="F3-content">
    <div class="dizme_tm_about">
        <div class="container">
			<div class="dizme_tm_main_title" data-align="center">
				<span>F3 Images </span>
				<h3>Find My Images </h3>
				<p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
			</div>
            <div class="wrapper">
                <div class="f3_container">
					<div class="img_swiper imgSwiper">
						<div class="swiper-wrapper">
				  
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image6.jpg'%}" />
						  </div>
						   <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image2.jpg'%}" />
						  </div>
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image7.jpg'%}" />
						  </div>
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image4.jpg'%}" />
						  </div>
						   <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image5.jpg'%}" />
						  </div>
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image6.jpg'%}" />
						  </div>
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image7.jpg'%}" />
						  </div>
						   <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image8.jpg'%}" />
						  </div>
						  <div class="swiper-slide">
							<img src="{%static 'img/suma_main/image5.jpg'%}" />
						  </div>
						  </div>
					 	<div class="swiper-pagination"></div>
					  </div>
				
    			</div>
            </div>
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div>
        {% comment %} <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> {% endcomment %}
    </div>
</div>
<!-- /ABOUT -->

         
	
{% endblock %} 