{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

		<!-- HERO -->
		<div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
				<div class="background" data-img-url="img/slider/1.jpg"></div>
				<div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>James Smith</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText">Creative Designer</span> From <span class="purpleText">New York</span></p>
							</div>
							<div class="text">
								<p>I'm creative designer based in New York, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img src="img/slider/avatar.jpg" alt="" />
								<span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span>
							</div>
						</div>
					</div>
				</div>
				<div class="dizme_tm_down">
					<a class="anchor" href="#about">
						<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
							<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
							<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<!-- HERO -->
		
		<!-- PROCESS -->
		<div class="dizme_tm_section">
			<div class="dizme_tm_process">
				<div class="container">
					<div class="list">
						<ul>
							<li class="wow fadeInUp" data-wow-duration="1s">
								<div class="list_inner">
									<div class="icon">
										<span>
											<img class="brush" src="img/brushes/process/1.png" alt="" />
											<img class="svg" src="img/svg/process/target.svg" alt="" />
										</span>
									</div>
									<div class="title">
										<h3>Pixel Perfect</h3>
									</div>
									<div class="text">
										<p>Most common methods for designing websites that work well on desktop is responsive and adaptive design.</p>
									</div>
								</div>
							</li>
							<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
								<div class="list_inner">
									<div class="icon">
										<span>
											<img class="brush" src="img/brushes/process/2.png" alt="" />
											<img class="svg" src="img/svg/process/brush.svg" alt="" />
										</span>
									</div>
									<div class="title">
										<h3>High Quality</h3>
									</div>
									<div class="text">
										<p>Most common methods for designing websites that work well on desktop is responsive and adaptive design.</p>
									</div>
								</div>
							</li>
							<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
								<div class="list_inner">
									<div class="icon">
										<span>
											<img class="brush" src="img/brushes/process/3.png" alt="" />
											<img class="svg" src="img/svg/process/energy.svg" alt="" />
										</span>
									</div>
									<div class="title">
										<h3>Awesome Idea</h3>
									</div>
									<div class="text">
										<p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /PROCESS -->
        {% comment %} {% include 'uifiles/about.html' %}
        {% block aboutsection %}  
        {% endblock %}
		 {% endcomment %}
		
{% endblock %}